.error {
  color: red;
  background: rgb(234, 232, 232);
  font-size: 18px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.infomessage {
  color: rgb(92, 236, 133);
  background: rgb(234, 232, 232);
  font-size: 18px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}